@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* background: rgba(24,24,27,1) */
   
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* avoid the button scrollbar using time of gsap animation */
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.linkedinimg:hover{
  box-shadow: rgba(2, 83, 233, 0.1) 0px 8px 24px, rgba(19, 179, 241, 0.1) 0px 16px 56px, rgba(255, 255, 255, 0.1) 0px 24px 80px;
}

.blank{
  border: solid 2px red;
  width: 0%;
}
.navLink:hover .blank{
  transition: width 0.4s ease; 
 width: 100%;
}